<!-- <div class="button-container" style="display: inline-flex;">
    <button (click)="incrementCounter()">Increment Counter by 1</button>
    <button (click)="decremenetCounter()">Decrement Counter by 1</button>
    <button (click)="toggleHome()">Hide Homepage</button>
    <button (click)="toggleNew()">New User</button>
</div>
<div *ngIf="showHomePage" class="homepage-container">
    <homepage></homepage>
</div>
<div class="list-container">
  <div *ngFor="let number of numberList" class="list-item">
    <homepage></homepage> -->
  

<!-- <div *ngIf="showNewUser" class="new-user-container">
  <new-user></new-user>
</div> -->

<!-- MAIN ROUTER for homepage-->

<div class="app-container">
  <div class="app-content-container">
    <nav class="top-nav-bar">
      <div class="logo">Where2Meet</div>
      <button kendoButton [look]="'outline'" [routerLink]="['/login']" routerLinkActive="router-link-active" class="nav-button">Sign In</button>
      <button kendoButton [look]="'outline'" [routerLink]="['/home']" routerLinkActive="router-link-active" class="nav-button" >Home</button>
      <button kendoButton [look]="'outline'" [routerLink]="['/returning-user']" routerLinkActive="router-link-active" class="nav-button" >Returning User</button>
      <!-- <div [routerLink]="['/login']" routerLinkActive="router-link-active"  class="sign-in">Sign In</div> -->
    </nav>
    <router-outlet></router-outlet>
  </div>
</div>



<!-- temporary: Haven't figured out routing yet ): -->



<!-- ngif and ngfor -->
