
<div class="nav"></div>

<div class="title-container">
    <h1 class="title">New User</h1>
    <div class="parallax"></div>
</div>
<div class="info-container">
    <div class="user-name-container">
        <div class="user-name">Name: </div>
        <input class="user-name-input" type="text" placeholder="write name here">
    </div>
    <div class="user-location-container">
        <div class="user-location">Location Preferences: </div>
        <input class="user-pref-loc" type="text" placeholder="need to figure out methodology">
    </div>
</div>
<div class="parallax"></div>