<div class="body">
    <div class="dark-back">
        <div class="back-box">
        <div class="sign-in-container">
            <div class="title">Returning User Sign In</div>
                <div class="container">
                    <div class="name">Name: </div>
                    <input class="input user-name" type="text" placeholder="Write name here">
                </div>
                <div class="container">
                    <div class="id">ID:         </div>
                    <input class="input user-id" type="text" placeholder="Write ID here">
                </div>
                <div [routerLink]="['/returning-user']" routerLinkActive="router-link-active" class="sub">submit</div>
            </div>
        </div>
    </div>
</div>
