.body{
    background-image: linear-gradient(to bottom, #aaa, #333);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    top: -100px;
    position: relative;
    z-index: 0;
    border-radius: 5px;
}

.back-box{
    width: 75%;
    height: 75vh;
    background-color: rgba(255,255,255,0.4);
    z-index: 6;
    margin: auto;
    border-radius: 15px;
}

.title{
    width: 100%;
    margin: auto;
    text-align: center;
    color: whitesmoke;
    font-size: 48px;
}

.sign-in-container{
    z-index: 0;
    // width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 150px;
}

.container{
    background-color: #333;
    opacity: 0.3;
    border-radius: 5px;
    z-index: 0;
    position: relative;
    top: 30px;
    padding: 20px;
    justify-content: center;
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.name{
    z-index: 9;
    color: white;
    font-size: 30px;
}

.id{
    z-index: 9;
    color: white;
    font-size: 30px;
}
.input{
    border-radius: 5px;
    width: 30%;
    font-size: 18px;
}

.sub{
    padding: 10px 30px;
    border-radius: 5px;
    text-align: center;
    margin: auto;
    position: relative;
    top: 50px;
    background-color: white;
    color: 0px;
}

.sub:hover{
    background-image: linear-gradient(to bottom, #00a, #003);
    color: white;
}

